__pycache__
*.snakemake*
*.log
*.tiff
*.tif
*.tsv
*.csv
*.png
*.txt
*.ipynb_checkpoints
*.db

# 1) Ignore everything under these two dirs:
*/data/*
*/results/*
*/workflow/benchmarks/*
*/workflow/logs/*

# 2) But don’t ignore the directories themselves:
!/data/
!/results/
!*/workflow/benchmarks/
!*/workflow/logs/

