jupyterlab==4.3.0
matplotlib==3.7.5
mysqlclient==1.4.6
numpy==1.24.4
opencv-python==4.10.0.84
opencv-python-headless==4.11.0.86
pandas==2.0.3
pip==24.3.1
scikit-image==0.18.3
scikit-learn==0.24.2
scipy==1.9.0
seaborn==0.13.2
setuptools==75.3.0
snakemake==7.32.4
tifffile==2020.10.1
cellprofiler-core==4.2.6
